body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.logout-button {
  background-color: #5e7c8a;  /* Set the button color to #5e7c8a */
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.logout-button:hover {
  background-color: #4a6471;  /* Slightly darker shade for hover */
  transform: scale(1.1);  /* Slightly grow the button on hover */
}

.logout-button:focus {
  outline: none;
}

.login-button {
  background-color: #5e7c8a;  /* Set the button color to #5e7c8a */
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.login-button:hover {
  background-color: #4a6471;  /* Slightly darker shade for hover */
  transform: scale(1.1);  /* Slightly grow the button on hover */
}

.login-button:focus {
  outline: none;
}

.register-button {
  background-color: #5e7c8a;  /* Set the button color to #5e7c8a */
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.register-button:hover {
  background-color: #4a6471;  /* Slightly darker shade for hover */
  transform: scale(1.1);  /* Slightly grow the button on hover */
}

.register-button:focus {
  outline: none;
}

.profile-button {
  background-color: #5e7c8a;  /* Set the button color to #5e7c8a */
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.profile-button:hover {
  background-color: #4a6471;  /* Slightly darker shade for hover */
  transform: scale(1.1);  /* Slightly grow the button on hover */
}

.profile-button:focus {
  outline: none;
}

.sql_generator-button {
  background-color: #5e7c8a;  /* Set the button color to #5e7c8a */
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.sql_generator-button:hover {
  background-color: #4a6471;  /* Slightly darker shade for hover */
  transform: scale(1.1);  /* Slightly grow the button on hover */
}

.sql_generator-button:focus {
  outline: none;
}

.database-selection {
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.database-selection p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #343a40;
}

.database-selection a {
  width: 150px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.database-selection a:hover {
  transform: scale(1.1);
}

